/* Full-width input fields */
input[type=text], input[type=password], textarea, input[type=date], select {
    width: 100%;
    box-sizing: border-box;
    border: 2px solid lightblue;
    border-radius: 4px;
    font-size: 13px;
    background-color: white;
    background-position: 3px 3px;
    background-repeat: no-repeat;
    padding: 8px 7px 8px 7px;
}

