* {
    margin: 0;
    padding: 0;
}

html,
body,
.wrapper {
    height: 100%;
}

body {
    font-family: "Helvetica", serif;
    background: #dddddd;
}

.content {
    box-sizing: border-box;
    min-height: 80%;
    width: 90%;
    margin: auto;
    padding-bottom: 100px;
}

/* Header/Blog Title */
.header {
    text-align: left;
    color: white;
    background: #adbabb;
    font-family: SansSerif, serif;
    padding: 20px;
}

.header a {
    text-decoration: none;
    color: white;
}

.header a:hover {
    text-decoration: none;
}

.header h1 {
    font-size: 35px;
    color: white;
}

/* Style the top navigation bar */
.topnav {
    overflow: hidden;
    background-color: #879495;
}

/* Style the topnav links */
.topnav a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 8px 10px;
    text-decoration: none;
}

/* Change color on hover */
.topnav a:hover {
    background-color: greenyellow;
    color: black;
}

/* Add a card effect for articles */
.card {
    background-color: white;
    padding: 15px;
    margin: 10px;
    border-radius: 5px;
}


/* Footer */
.footer {
    padding: 30px;
    text-align: center;
    background: #adbabb;
    color: white;
    height: 120px;
    margin-top: -100px;
}

#account {
    background-color: white;
    border-radius: 5px;
    text-align: center;
    color: black;
    padding: 5px;
    width: 150px;
    position: absolute;
    right: 5px;
    top: 6px;
}

#account a:link {
    text-decoration: none;
    color: black;
}

#account a:visited {
    color: black;
}

#account a:hover {
    color: greenyellow;
}

input[type=submit] {
    background-color: midnightblue;
    color: white;
    padding: 2px 15px;
    border: none;
    cursor: pointer;
    opacity: 0.9;
    border-radius: 10px;
}

input[type=submit]:hover {
    opacity: 1;
    background-color: red;
}

.links {
    background-color: whitesmoke;
    border-radius: 10px;
    padding: 5px;
}

.inside {
    background-color: #f1f1f1;
    padding: 10px;
    margin: 5px;
}

.content a:visited {
    color: black;
}

.content a:link {
    color: black;
    text-decoration: none;
}

.content a:hover {
    color: red;
}

.pageNumbers {
    margin: 12px;
}