* {
    box-sizing: border-box;
}

body {
    font-family: "Helvetica";
    background: #dddddd;
    margin: 0px;
}

/* Header/Blog Title */
.header {
    text-align: left;
    color: white;
    background: #001a33;
    font-family: "Comic Sans MS";
    padding: 20px;
}

.header h1 {
    font-size: 35px;
}

/* Style the top navigation bar */
.topnav {
    overflow: hidden;
    background-color: #00284d;
}

/* Style the topnav links */
.topnav a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change color on hover */
.topnav a:hover {
    background-color: #004f99;
    color: white;
}

/* Create two unequal columns that floats next to each other */
/* Left column */
.leftcolumn {
    float: left;
    width: 85%;
}

/* Right column */
.rightcolumn {
    float: right;
    width: 15%;
}

/* Fake image */
.fakeimg {
    background-color: whitesmoke;
    width: 100%;
    padding: 20px;
}

/* Add a card effect for articles */
.card {
    background-color: #cce6ff;
    padding: 20px;
    margin: 20px;
    border-radius: 10px;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Footer */
.footer {
    text-align: center;
    background: #001a33;
    height: 150px;
    padding: 10px;
    color: white;
}

/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 800px) {
    .leftcolumn, .rightcolumn {
        width: 100%;
        padding: 0;
    }
}

/* Responsive layout - when the screen is less than 400px wide, make the navigation links stack on top of each other instead of next to each other */
@media screen and (max-width: 400px) {
    .topnav a {
        float: none;
        width: 100%;
    }
}

.account {
    background-color: #cce6ff;
    color: black;
    padding: 10px;
    margin: 20px;
    border-radius: 10px;
}

.accbgr {
    background-color: whitesmoke;
    height: 120px;
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
}