
.rating {
    color: white;
    padding: 10px;
    text-align: center;
    border-radius: 10px;
    width: 80px;
    display: inline-block;
    float: right;
    margin: 15px;
    font: bold 25px SansSerif;
}

#logo {
    margin: 10px;
    display: inline-block;
    vertical-align: top;
}

#logo img {
    border-radius: 3px;
    border: 1px solid #001a33;
    padding: 3px;
}

.title {
    display: inline-block;
    width: 100%;
}

#video {
    display: inline-block;
    margin: 5px;
    border-radius: 3px;
    border: 1px solid #001a33;
    padding: 3px;
}

#videoinf {
    margin: 5px;
}