<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>Topgames</title>
    <link rel="stylesheet" th:href="@{/css/feed.css}"/>
    <link rel="stylesheet" th:href="@{/css/add.css}"/>
</head>
<body>
<div th:insert="feed :: div.header"></div>

<div th:insert="feed :: div.topnav"></div>

<div class="content">
    <div class="card">
        <h2 style="padding: 10px">Adding game</h2>

        <div class="inside">

            <form enctype="multipart/form-data" method="post" th:action="@{/add}" th:object="${game}">
                <label>Title:
                    <input th:field="*{title}" type="text"/>
                </label>
                <label>Video link:
                    <input th:field="*{videoLink}" type="text"/>
                </label>
                <label style=>Logo:
                    <input name="logo" style="margin: 8px" type="file"/>
                </label><br>
                <label>Description:
                    <textarea rows="15" th:field="*{description}">Description</textarea>
                </label>
                <label>Release Date:
                    <input th:field="*{releaseDate}" type="date"/>
                </label>
                <label>Genre:
                    <select th:field="*{genre}">
                        <option th:each="genre: ${genres}" th:text="${genre}" th:value="${genre}"></option>
                    </select>
                </label>
                <label>Platform:
                    <select th:field="*{platform}">
                        <option th:each="platform: ${platforms}" th:text="${platform}"
                                th:value="${platform}"></option>
                    </select>
                </label>
                <p style="text-align: center; padding: 10px">
                    <input type="submit" value="Add"/> <input type="reset" value="Reset"/>
                </p>
            </form>

        </div>

    </div>
</div>

<div th:insert="feed :: div.footer"></div>

</body>
</html>