<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>Topgames</title>
    <link rel="stylesheet" th:href="@{/css/feed.css}"/>
    <link rel="stylesheet" th:href="@{/css/add.css}"/>
</head>
<body>
<div th:insert="/feed.html :: div.header"></div>

<div th:insert="/feed.html :: div.topnav"></div>

<div class="content">
    <div class="card">
        <h2 style="padding: 10px">Adding game</h2>

        <div class="inside">

            <form method="post" th:action="@{/add}" th:object="${game}">
                <label>Title:
                    <input th:field="*{title}" type="text"/>
                </label>
                <label>Description:
                    <textarea rows="15" th:field="*{description}">Description</textarea>
                </label>
                <label>Release Date:
                    <input th:field="*{releaseDate}" type="date"/>
                </label>
                <label>Genre:
                    <select th:field="*{genre}">
                        <option value="Action">Action</option>
                        <option value="RPG">RPG</option>
                        <option value="Racing">Racing</option>
                        <option value="MMO">MMO</option>
                    </select>
                </label>
                <label>Platform:
                    <select th:field="*{platform}">
                        <option value="PC">PC</option>
                        <option value="PS4">PS4</option>
                        <option value="XBOX">XBOX</option>
                        <option value="Mobile">Mobile</option>
                    </select>
                </label>
                <p style="text-align: center; padding: 10px">
                    <input type="submit" value="Add"/> <input type="reset" value="Reset"/>
                </p>
            </form>

        </div>

    </div>
</div>

<div th:insert="/feed.html :: div.footer"></div>

</body>
</html>