<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <title>Topgames</title>
    <link rel="stylesheet" th:href="@{/css/feed.css}"/>
    <link rel="stylesheet" th:href="@{/css/game.css}"/>
</head>

<body>
<div class="header">
    <a href="/feed"><img alt="logo" height="50" th:src="@{/images/icon.png}" width="50"/>
        <h1>TOPGAMES </h1>
    </a>
    <div id="account">

        <p th:inline="text">Hello <a href="/account"><b sec:authentication="name"></b></a>
        </p>
        <form method="post" th:action="@{/logout}">
            <input style="margin: 5px" type="submit" value="Sign Out"/>
        </form>

    </div>
    <br>
    <span>Most powerful information about games in one place!</span>
</div>

<div class="topnav">

    <a href="/feed">Home</a>
    <a href="/best">Best games</a>
    <a href="/soon">Coming soon</a>
    <a href="/search">Find</a>
    <a href="#" style="float:right">About</a>
    <a href="/admin" sec:authorize="hasRole('ADMIN')" style="float:right">Admin</a>

</div>
<div class="content">

    <div class="card" th:each="game: ${games}">

        <a th:href="@{/game/} + ${game.title}"><h3 th:text="${game.title}"></h3></a>
        <div class="inside">
            <div th:insert="game :: div.title"></div>
        </div>
        <span style="margin: 5px"><b>Release Date:</b></span>
        <span style="padding: 5px" th:text="${game.releaseDate}"></span>
        <div class="inside" th:text="${game.description}"></div>

    </div>

    <div class="pageNumbers" th:if="${#ctx.containsVariable('pageNumbers')}">
        <div class="inside" style="text-align: center">
            <a style="margin: 5px"
               th:each="pageNumber : ${pageNumbers}" th:href="@{/feed(page=${pageNumber})}"
               th:text=${pageNumber}></a>
        </div>
    </div>

</div>

<div class="footer">

    <div class="links">
        <a href="/feed">Home</a>
        <a href="/best">Best</a>
        <a href="/soon">Coming</a>
        <a href="/search">Find</a>
    </div>

    <h5 style="padding: 20px">&copy; <b th:text="${#dates.year(#dates.createNow())}"></b> MKazmyryk. All rights
        reserved.</h5>

</div>

</body>

</html>