<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>

    <title>Topgames</title>
    <link rel="stylesheet" th:href="@{/css/feed.css}"/>

</head>

<body>

<div class="header">

    <a href="/feed"><h1>TOPGAMES </h1></a>

    <div class="account">

        <p th:inline="text">Hello <a href="/account"><b>[[${#httpServletRequest.remoteUser}]]</b></a>
        </p>
        <form method="post" th:action="@{/logout}">
            <input style="margin: 5px" type="submit" value="Sign Out"/>
        </form>

    </div>

    <span>Most powerful information about games in one place!</span>

</div>

<div class="topnav">

    <a href="/feed">Home</a>
    <a href="#">Best games</a>
    <a href="#">Coming soon</a>
    <a href="#">Find</a>
    <a href="#" style="float:right">About</a>
    <a href="/admin" style="float:right">Admin</a>

</div>
<div class="content">

    <div class="card" th:each="game: ${games}">

        <a th:href="@{/game/} + ${game.title}"><h3 style="padding: 5px" th:text="${game.title}"></h3></a>
        <h5 style="padding: 5px" th:text="${game.releaseDate}"></h5>
        <div class="inside" th:text="${game.description}"></div>

    </div>

    <div class="card" th:if="${pageNumbers.size() > 0}">
        <div class="inside" style="text-align: center">
            <a style="margin: 5px"
               th:each="pageNumber : ${pageNumbers}" th:href="@{/feed(page=${pageNumber})}"
               th:text=${pageNumber}></a>
        </div>
    </div>

</div>

<div class="footer">

    <div class="links">
        <a href="#">Temp</a>
        <a href="#">Temp</a>
        <a href="#">Temp</a>
        <a href="#">Temp</a>
    </div>

    <h5 style="padding: 20px">&copy; <b th:text="${#dates.year(#dates.createNow())}"></b> MKazmyryk. All rights
        reserved.</h5>

</div>

</body>

</html>