<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/2005/Atom">
<head>
    <meta charset="UTF-8">
    <title th:text="${game.title}">Title</title>
    <link rel="stylesheet" th:href="@{/css/feed.css}"/>
    <link rel="stylesheet" th:href="@{/css/game.css}"/>
    <link rel="stylesheet" th:href="@{/css/list.css}"/>
</head>
<body>

<div th:insert="/feed.html :: div.header"></div>

<div th:insert="/feed.html :: div.topnav"></div>

<div class="content">

    <div class="card">
        <div class="inside">
            <h3 style="padding: 10px" th:text="${game.title}"></h3>
            <div class="title">
                <div id="logo">
                    <img alt="logo" th:src="${game.imageLink}"/>
                </div>
                <div class="rating" style="background-color: red" th:if="${game.avrRating} < 5"
                     th:text="${#numbers.formatDecimal(game.avrRating,1,1,'POINT')}">
                </div>
                <div class="rating" style="background-color: #eaec00"
                     th:if="${game.avrRating} < 8 and ${game.avrRating} > 5 "
                     th:text="${#numbers.formatDecimal(game.avrRating,1,1,'POINT')}">
                </div>
                <div class="rating" style="background-color: lawngreen" th:if="${game.avrRating} > 8"
                     th:text="${#numbers.formatDecimal(game.avrRating,1,1,'POINT')}">
                </div>
            </div>
            <span><b>Release date:</b></span>
            <span style="padding: 5px" th:text="${game.releaseDate}"></span>
            <div id="videoinf">
                <span><b>Watch trailer:</b></span>
                <div id="video">
                    <iframe allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen frameborder="0" th:src="${game.videoLink}"
                    ></iframe>
                </div>
            </div>
            <span style="margin: 5px"><b>Description:</b></span>
            <div style="margin: 5px" th:text="${game.description}"></div>
        </div>
    </div>

    <div class="card">
        <h3>Reviews:</h3>

        <div class="inside">
            <table id="customers">
                <tr>
                    <th>User</th>
                    <th>Review</th>
                    <th>Rating</th>
                    <th>Date</th>
                </tr>
                <tr th:each="review:${reviews}">
                    <td th:text="${review.user.getUserName()}"></td>
                    <td th:text="${review.text}"></td>
                    <td th:text="${review.rating}"></td>
                    <td th:text="${review.getFormattedDate()}"></td>
                </tr>
            </table>
        </div>

    </div>

    <div class="card">
        <div class="inside">
            <form method="get" th:action="@{/review}">
                <input th:attr="name='title'" th:value="${game.title}" type="hidden">
                <input type="submit" value="AddReview">
            </form>
        </div>
    </div>

</div>

<div th:insert="/feed.html :: div.footer"></div>

</body>
</html>