<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Coming soon</title>
    <link rel="stylesheet" th:href="@{/css/feed.css}"/>
    <link rel="stylesheet" th:href="@{/css/list.css}"/>
</head>
<body>

<div th:insert="feed :: div.header"></div>

<div th:insert="feed :: div.topnav"></div>

<div class="content">

    <div class="card">
        <h3 style="margin: 5px">Best games:</h3>
        <form method="post" style="margin: 5px" th:action="@{/best}">
            <span><b>Filter by:</b></span>
            <label> Genre:
                <select name="genre">
                    <option th:each="genre: ${genres}" th:text="${genre}" th:value="${genre}"></option>
                </select>
            </label>

            <label> Platform:
                <select name="platform">
                    <option th:each="platform: ${platforms}" th:text="${platform}"
                            th:value="${platform}"></option>
                </select>
            </label>

            <input type="submit" value="Find">
        </form>

        <div class="inside">
            <table id="customers">
                <tr>
                    <th>Title</th>
                    <th>Genre</th>
                    <th>Platform</th>
                    <th>Rating</th>
                    <th>Release date</th>
                </tr>
                <tr th:each="game:${games}">
                    <td><a th:href="@{/game/} + ${game.title}"><h5 th:text="${game.title}"></h5></a></td>
                    <td th:text="${game.genre}"></td>
                    <td th:text="${game.platform}"></td>
                    <td th:text="${game.avrRating}"></td>
                    <td th:text="${game.releaseDate}"></td>
                </tr>
            </table>
        </div>

    </div>

    <div class="pageNumbers" th:if="${#ctx.containsVariable('pageNumbers')}">
        <div class="inside" style="text-align: center">
            <a style="margin: 5px"
               th:each="pageNumber : ${pageNumbers}" th:href="@{/best(page=${pageNumber})}"
               th:text=${pageNumber}></a>
        </div>
    </div>

</div>

<div th:insert="feed :: div.footer"></div>

</body>
</html>